#confirmacion {width: 563px;margin: 25px auto;}
#info {margin-bottom: 20px;background: rgba(50,162,227, 0.1);border: 1px solid #32a2e3;border-radius: 5px;color: #32a2e3;padding: 15px 25px;text-align:center;}
#datos {width: 385px; text-align: right;float:left;font-size: 13px;color: #888;line-height: 15px;display: inline;}
#datos span {font-weight: bold; color: #666}
#inicio {margin-top: 7px;float:right;text-align: center;font-size: 13px;text-decoration: none; padding: 5px;width: 150px;display: inline;font-weight: bold;color: white;border-bottom: 1px solid rgba(100,100,100,0.60);background: #32a2e3;}

#pie {position: absolute; bottom: 0px;}