#fondo {position: absolute;height:478px; width: 100%; background: silver url('../imgs/bg_beach.jpg') no-repeat center 10%;z-index:-100;}

#cabecera {height: 425px; width: 100%;position: relative;}
#cabecera #slogans {position: absolute;top: 52%;color: white;z-index:-100;overflow:hidden;}

#s_1, #s_2, #bg_s_1, #bg_s_2 {display:inline-block;float:left;padding: 7px 14px;}
#s_1, #s_2 {text-transform:uppercase;}
#bg_s_1, #bg_s_2 {opacity: 0.8;width: 10px;}

#s_1 {background: rgba(0,0,0,0.8);font-size: 19px;font-weight:bold;}
#bg_s_1 {background: transparent url("../imgs/bg_black.png") no-repeat;height: 19px;}

#c_s_2 {display:inline-block;}
#s_2 {padding: 4px 8px 4px 14px;background: rgba(50,162,227,0.8);font-size: 15px;}
#bg_s_2 {background: transparent url("../imgs/bg_blue.png") no-repeat;height: 9px;}

#informacion {width: 100%;}
#informacion ul {list-style: none;overflow: hidden;padding-bottom:225px;}
#informacion ul li {width: 290px;float: left;margin-left: 54.4px;}
#informacion ul li:first-child {margin: 0px;}
#informacion ul li img {width: 100%;background:white;border: 1px solid rgba(100,100,100,0.60);border-radius: 2px;margin-bottom: 20px;}
#informacion ul li h4 {color: rgba(0,0,0,0.85);font-size: 20px;margin-bottom: 7px;}
#informacion ul li h4 span {font-weight: bold;}
#informacion ul li p {font-size: 13px;color: #888;line-height: 15px;}