#informacionError {width: 563px;margin: 25px auto;}
#informacionError h1 {margin-bottom: 20px; font-size: 30px; color: #444;}
#informacionError p {color: #888; font-size: 15px;}

#pie {position: absolute; bottom: 0px;}