{% extends 'proyectoHotelBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block cabecera %}
	<div id="cabecera">
		<div id="slogans">
			<div id="c_s_1">
				<div id="s_1">Es más que un hotel, es lo que tú necesitas</div>
				<div id="bg_s_1"> </div>
			</div>
			<br/>
			<div id="c_s_2">
				<div id="s_2">Increíble lugar por descubrir</div>
				<div id="bg_s_2"> </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block banner_reserva %}

{% endblock %}

{% block contenido %}
hola dolaa<br/>hola dolaa<br/>hola dolaa<br/>hola dolaa<br/>hola dolaa<br/>
{% endblock %}