{% block form_row %}
	{% spaceless %}
		<div id="habitacion">
			<div id="imagen">
				{#<img src="{{ habitacion.imagen }}" />#}
			</div>
			<div id="descripcion">
				<h1>{{ form_label(form) }}</h1>
				<div id="seleccion">
					<span id="precio">{# habitacion.precio #} €</span>
					Seleccionar {{ form_widget(form) }}
				</div>
			</div>
		</div>
	{% endspaceless %}
{% endblock form_row %}